<?xml version="1.0"?>
<configuration>


  
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--位于Web.config的conn为调试使用，发布版本的连接字符串位于Web.Release.config中。User Id=sa;Password=gzy123#$%-->
    <add name="LocalDB" connectionString="Data Source=(local);Initial Catalog=ChitoExamRoom_LocalModel;User Id=sa;Password=sa88"/>
    <add name="CenterModeDB" connectionString="Data Source=(local);Initial Catalog=ChitoExamRoom_CentreModel;User Id=sa;Password=sa88"/>
    <add name="SysConn" connectionString="Data Source=(local);Initial Catalog=master;User Id=sa;Password=sa88"/>
  </connectionStrings>
  <system.web>
    <!-- 以下maxRequestLength的值为30720=30 X 1024，即30M-->
    <httpRuntime executionTimeout="300" maxRequestLength="30720" useFullyQualifiedRedirectUrl="false"  requestValidationMode="2.0"/> 
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<authentication mode="Windows" />-->
    <webServices>
      <protocols>
        <!--<remove name="Documentation" />--> 
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>


  
  <appSettings>
    <add key="authURL" value="http://chinaschool.oicp.net:8081/auth/"/>
    
    <!--客户端轮询间隔时间-->
    <add key="CheckOnlineInervalTimeOnClient" value="45000"/>
    
    <!--允许客户端发送的表示“我在线”的请求到达的超时时间，即接收超时-->
    <add key="ReceiveTimeout" value="10000"/>
    <add key="TJumpUrl" value="~/login.htm"/>
    <add key="TempPath" value="~/temp"/>
    <add key="MaxPointInBrokenGraph" value="100"/>
    
    <!--Memcached服务器地址-->
    <add key="MemcachedServer" value="192.168.0.28:11211"/>
    <add key="defaultUserName" value="admin" />
    <add key="defaultPsw" value="123456" />
    <add key="ProductName" value="反假货币培训考试系统"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="1346;True;45532;1;-8588529654227544047"/>
    <add key="DBBackPath" value="C:/GzyExam/Data/Backup"/>
    <!--调试时默认不需要验证     {F90484E1-6920-4B14-9C3D-BD3E8067F8F5}-->
    <add key="ProductKey" value="{F90484E1-6920-4B14-9C3D-BD3E8067F8F5}"/>
    <add key="BulkJudgeObjectSize" value="{}"/>
    <add key="maxDetailCountPerJudge" value="2"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add verb="GET" path="/t" name="ShortLogin" type="Web.Handlers.ShortLogin" resourceType="Unspecified"/>
  </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.htm"/>
        <add value="login.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CenterServiceSoap" maxBufferPoolSize="30000000"
          maxReceivedMessageSize="30000000" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CenterServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:16341/centerservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="CenterServiceSoap"
        contract="centerService.CenterServiceSoap" name="CenterServiceSoap" />
      <endpoint address="http://localhost:16341/centerservice.asmx"
        binding="customBinding" bindingConfiguration="CenterServiceSoap12"
        contract="centerService.CenterServiceSoap" name="CenterServiceSoap12" />
    </client>
  </system.serviceModel>

  <system.web.extensions>
    <scripting>
      <webServices>
        <!--单位为字节-->
        <jsonSerialization maxJsonLength="1024000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  
</configuration>