    div#my_progress table tbody tr td.c1,.myProgress_c1{ background-color:rgb(0,0,255);}
    div#my_progress table tbody tr td.c2,.myProgress_c2{ background-color: rgb(162,209,9);}
    div#my_progress table tbody tr td.c3,.myProgress_c3{ background-color:#ffa000; }
    div#my_progress table  { border:1px solid rgb(2,138,213);}
    
    
